In [2]:
#Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
#Exercise 10 - Insert a markdown cell to list Objectives

__Objectives:__

* List popular languages for Data Science
* Create a code cell to convert minutes to hours
* Create and edit markdown cell
* Create a Jupyter Notebook

In [ ]:
#Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
#Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

In [ ]:
#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. SciKit-Learn
2. NumPy
3. TensorFlow

In [ ]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| --- |
| Jupyter |
| RStudio |
| GitHub |

In [ ]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
#Exercise 8 - Create a code cell to multiply and add numbers

In [5]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [ ]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [8]:
#This will convert 200 minutes to hours by diving by 60.
time = 200
convertToMin = time / 60 
print(convertToMin,'hours')

3.3333333333333335 hours

In [ ]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
German